
{% extends "main.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
	


	{% block nav %}
	{% endblock nav %}


{% block extras%}

{% if form.instance.profilepic %}
    <img id="image_upload_preview" style="height: 150px;" src="{{form.instance.profilepic.url}}" alt="your image" />
{% else %}
<img id="image_upload_preview" style="height: 150px;" src="" alt="your image" />
{% endif %}


<form method="post"  enctype="multipart/form-data">
{% csrf_token %}
{% crispy form %}


   
</form>

{% endblock extras%}
{% block navtab%}
{% endblock navtab%}

{% block footer%}
{% endblock footer%}
{% block javascript %}
 <script>

  $(function() {
    $('.datepicker').datetimepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                // language: 'fr',
                minView: 'month',
                pickerPosition: 'bottom-left',
                todayBtn: true,
                startView: 'month',
                endDate: '-18y'
            });

     $('#id_tob').datetimepicker({
                autoclose: true,
                format: 'hh:ii',
                formatViewType: 'time',
                maxView: 'day',
                minView: 'hour',
                pickerPosition: 'bottom-left',
                startView: 'day'
            });

function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_upload_preview').attr('src', e.target.result);
                $('#image_upload_preview').wrap(function(){return "<a href='"+e.target.result+"'  data-lightbox='profileimage'></a>";});
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_profilepic").change(function () {
        readURL(this);
    });

upload_btn = $( "label[for='id_profilepic']" );
upload_btn.prepend("<span class='glyphicon glyphicon-upload'></span>");
upload_btn.addClass( "btn btn-info" );
nameinput = $("#id_height").parent();
$("#id_height").css({"z-index":0});
// nameinput.addClass("input-group");
// nameinput.append("<span class='input-group-addon' id='basic-addon1'>feet</span>")

jQuery("label[for='id_profilepic']").next().css('display','none');

  });

 

  </script>

<script src="{% static 'js/vendor/datetimepicker.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
<script src="{% static 'js/vendor/lightbox.js' %}"></script>

{% endblock javascript %}