
{% extends "base.html" %}
{% load staticfiles %}



 {% block styling %}
      <!-- <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"> -->
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
      <!-- <link rel="stylesheet" href="{% static 'css/dataTables.jqueryui.min.css' %}"> -->

      <link rel="stylesheet" href="{% static 'css/datetimepicker.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery-uii.css' %}">
      <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% endblock styling %}

{% block content %}
{% if msg %}


<div class="container">

   <div class="alert alert-{{alerttype}} fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{msg}}</strong> 
</div>
</div>

{% endif %}
{% comment %} 

    <ul>
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
        <li>{{field}} --> {{error}}</li>
        
     {% endfor %} 
     {% endfor %}   
    </ul>
{% endcomment %} 
    {% if user.is_authenticated %}
    
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#reg" style="font-size: 1.5em" data-toggle="tab"><span class="glyphicon glyphicon-plus-sign"></span> Registration</a></li>
            <li><a href="#search" style="font-size: 1.5em" data-toggle="tab"><span class="glyphicon glyphicon-search"></span> Search</a></li>
            <li><a href="#admin"  style="font-size: 1.5em"  data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>
        </ul>

        <div class="tab-content" style="margin-bottom: 2%">
            <div class="tab-pane fade in active" id="reg">
            <br/>
                {% include "reg.html" %}
            </div>
            <div class="tab-pane fade" id="search"><br/>
                <table id="mytable" class="display cell-border" border="0" cellpadding="-5" cellspacing="0" width="100%">
                    

                                <thead>
            <tr>
                <th>Photo</th>
                <th>gender</th>
                <th>caste</th>
                <th>dob</th>
                <th>complexion</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
                <th>Photo</th>
                <th>gender</th>
                <th>caste</th>
                <th>dob</th>
                <th>complexion</th>
            </tr>
        </tfoot>
                </table> 
                
            </div>
            <div class="tab-pane fade" id="admin"><br/></div>
        </div>

    </div>

         
        {% else %} 
    <div class="jumbotron">
        <p>Welcome to the Saptapadi Matrimonial.</p>
        <p style="margin-top: 1em">
        
           <a  href="{% url 'matri_login' %}">Click here to login</a>
        
        </p>
    </div>
    {% endif %} 
     
{% endblock content %}

{% block javascript %}
<script type="text/javascript">
   $(function(){
    $('#mytable tfoot th').each( function () {
        var title = $('#mytable thead th').eq( $(this).index() ).text();
        if (title!="Photo")
        $(this).html( '<input type="searches"  placeholder="'+title+'" />' );
    } );

   var profiletable = $('#mytable').DataTable( {
        "ajax": "{%  url 'order_list_json' %}",
        "columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    return '<a href="'+data+'"  data-lightbox="profilepic" ><img src="'+data+'" class="img-thumbnail img-responsive" style="width:60px;height:75px;" /></a>';
                },
                "targets": 0 // column index 
             }

        ]
    } );

   profiletable.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );

  });
   
</script>
<script src="{% static 'js/vendor/datetimepicker.js' %}"></script>
<script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
<script src="{% static 'js/vendor/lightbox.js' %}"></script>
    {% endblock javascript %}