
{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
        <p>Welcome to the Saptapadi Matrimonial.</p>
        <p style="margin-top: 1em">
        {% if user.is_authenticated %}
            <a  href="{% url 'matri_logout' %}">Click here to logout</a>
        {% else %} 
           <a  href="{% url 'matri_login' %}">Click here to login</a>
        {% endif %} 
        </p>
    </div>
    {% if user.is_authenticated %}
     
    {% include "reg.html" %}
    {% endif %} 
     
{% endblock content %}
