
{% extends "base.html" %}
{% load staticfiles %}



 {% block styling %}
      <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        {% endblock styling %}

{% block content %}
{% if msg %}


<div class="container">
   <div class="alert alert-success fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> {{msg}}
</div>
</div>

{% endif %}


    <ul>
    {% for field, errors in form.errors.items %}
    {% for error in errors %}
        <li></li>
        {{error}}
     {% endfor %} 
     {% endfor %}   
    </ul>

    {% if user.is_authenticated %}
    
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#reg" style="font-size: 1.5em" data-toggle="tab"><span class="glyphicon glyphicon-plus-sign"></span> Registration</a></li>
            <li><a href="#search" style="font-size: 1.5em" data-toggle="tab"><span class="glyphicon glyphicon-search"></span> Search</a></li>
            <li><a href="#admin"  style="font-size: 1.5em"  data-toggle="tab"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="reg">
            <br/>
                {% include "reg.html" %}
            </div>
            <div class="tab-pane fade" id="search"><br/></div>
            <div class="tab-pane fade" id="admin"><br/></div>
        </div>

    </div>

         
        {% else %} 
    <div class="jumbotron">
        <p>Welcome to the Saptapadi Matrimonial.</p>
        <p style="margin-top: 1em">
        
           <a  href="{% url 'matri_login' %}">Click here to login</a>
        
        </p>
    </div>
    {% endif %} 
     
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
    {% endblock javascript %}