
{% load crispy_forms_tags %}
	

    <img id="image_upload_preview" style="height: 150px;" src="http://placehold.it/150x150" alt="your image" />
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form|crispy }}
<button type="submit" class="ghost-button">register</button>
</form>
 <script>

  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      maxDate: 0,
      yearRange: "-100:+0",
      dateFormat: 'dd/mm/yy',
      beforeShow: function(){    
           $(".ui-datepicker").css('font-size', 10) 
    },
      // You can put more options here.

    });

  });

   function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image_upload_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_profilepic").change(function () {
        readURL(this);
    });


  </script>
